/*
    - This was created by GhostWeb Design company
    - All rights reserved 2023.
*/

/*
    - At first import all the required fonts here
*/




/*
    - End of importing the fonts
*/


/*
    - Start the main styles.
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    /* I added this only for testing something,
        And It will be deleted soon!!!
    */
     height: 200vh; 
}
:root {
    /* Put all the most-common used colors here */


}










/*
    - End of the main styles.
*/


/*
    - Styles for the sections
*/









/*
    - End styles for the sections
*/































/* 
    - Styles for the footer 
*/ 






/* 
    - End styles for the footer 
*/ 




/*
    - Put all the required code for responsive design here
*/










/*
    - End of responsive
*/





/*
    - End of styling
*/