/*
    - This was created by GhostWeb Design company
    - All rights reserved 2023.
*/

/*
    - At first import all the required fonts here
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
/* To use it later:
    font-family: 'Poppins', sans-serif; 
*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* To use it later:
    font-family: 'Lobster Two', cursive;
*/

/*
    - End of importing the fonts
*/


/*
    - Start the main styles.
*/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /* Put all the most-common used colors here */
    /* Colors */
    --main-color: #0ab68b;
    --dark-main-color: #028174;
    --lemon-color: #92de8b;
    --secondary-color: #ffe3b3;
    --off-white: #eee;
    --off-white-light: #fefaf1;
    --red: #f32d17;
    --dark-color: #121212;
    --dark-color-2: #060606;
    --dark-color-3: #24272c;
    /* End with colors */
    /* Basic rules */
    --transition-time: 0.4s;
    --long-transition-time: 0.9s;
    --header-height: 80px;
    --small-radius: 8px;
    --big-radius: 15px;
    --section-margin: 3.8rem
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--off-white);
    font-family: 'Comfortaa', cursive;
    font-family: 'Poppins', sans-serif;
    height: 200vh;
}

/* Scroll bar style */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
::-moz-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eee;
}
::-moz-scrollbar-track {
    background: #eee;
}


/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--main-color);
}
::-moz-scrollbar-thumb {
    border-radius: 5px;
    background: var(--main-color);
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-main-color);
}
::-moz-scrollbar-thumb:hover {
    background: var(--dark-main-color);
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    transition: var(--transition-time);
}

button,
input {
    border: none;
    outline: none;
}

section {
    height: calc(100vh - var(--header-height));
}

button:hover {
    opacity: 0.8;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-ver {
    left: 50%;
    transform: translate(-50%);
}

/*
    - End of the main styles.
*/


/*
    - Styles for the Header
*/
header {
    position: fixed;
    top: 0;
    z-index: 10;
}

header .container {
    background-color: var(--dark-main-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 30px;
    border-bottom-left-radius: var(--big-radius);
    border-bottom-right-radius: var(--big-radius);
    box-shadow: 0px 5px 8px #0000001f;
}

header .container .logo h1 {
    background-color: var(--off-white);
    color: var(--dark-main-color);
    padding: 10px;
    border-radius: var(--small-radius);
    font-weight: 600;
}

header .container .logo h1 span {
    color: var(--main-color);
}

header .container .links {
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

header .container .links a {
    font-size: 1.2rem;
    position: relative;
    padding: 25px;
    overflow: hidden;
}

header .container .links a::after {
    content: "";
    height: 3px;
    width: 0;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: var(--transition-time);
}

header .container .links a:hover::after {
    width: 100%;
    left: 0;
}

/* header .log-in  */
header .log-in button {
    padding: 10px;
    border-radius: var(--small-radius);
    background-color: var(--main-color);
    background-color: transparent;
    border: 2px solid var(--off-white-light);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

header .log-in button:hover {
    background-color: var(--main-color);
    color: var(--dark-color-3);
}

.burger-icon {
    width: 50px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burger-icon span {
    display: block;
    width: 100%;
    height: 10px;
    border-radius: 2px;
    position: relative;
    background-color: var(--main-color);
    transition: var(--transition-time);
}

.burger-icon span::after {
    content: "";
    width: 100%;
    height: 10px;
    border-radius: 2px;
    position: absolute;
    top: -15px;
    left: 0;
    background-color: var(--main-color);
    transition: var(--transition-time);
}

.burger-icon span::before {
    content: "";
    width: 100%;
    height: 10px;
    border-radius: 2px;
    position: absolute;
    bottom: -15px;
    left: 0;
    background-color: var(--main-color);
    transition: var(--transition-time);
}

.burger-icon:hover span:before,
.burger-icon:hover span::after,
.burger-icon:hover span {
    background-color: white;
}

.links-menu {
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: calc(100vh - var(--header-height));
    color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding: 50px 30px;
    box-shadow: 0 0 0 1000vmax rgba(0, 0, 0, 0.3);
    transform-origin: top left;
    overflow-y: auto;

    animation: menu 1s linear 0s 1 forwards;
    -moz-animation: menu 1s linear 0s 1 forwards;
    -webkit-animation: menu 1s linear 0s 1 forwards;
    -o-animation: menu 1s linear 0s 1 forwards;
    -ms-animation: menu 1s linear 0s 1 forwards;
}

.links-menu .cont {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(to bottom, var(--lemon-color), var(--main-color));
    opacity: 0.9;
    filter: blur(30px);
}

.links-menu a {
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.623);
    padding: 20px 10px;
    border-radius: var(--small-radius);
    transition: padding-left var(--long-transition-time);
}

.links-menu a::selection {
    color: inherit;
}

.links-menu a:hover {
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 100px;
    border: 1px solid white;
}

.links-menu button:hover {
    background-color: var(--main-color);
    color: var(--dark-color-3);
}

.links-menu button {
    padding: 10px;
    border-radius: var(--small-radius);
    background-color: var(--main-color);
    background-color: transparent;
    border: 2px solid var(--off-white-light);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

/*
    - End Styles for the Header
*/

/*
    - Start style the main view "banner"
*/

.banner {
    /* position: absolute; */
    /* top: 25%; */
    /* left: 10%; */
    /* left: 5%; */
    /* z-index: 3; */
    /* overflow: hidden; */
    padding: 0 10px;
    height: calc(100vh + var(--header-height));
    padding-top: var(--header-height);
    width: 100%;
    background-image: linear-gradient(to top, var(--secondary-color), var(--off-white));
    margin-bottom: var(--section-margin);
}

.banner .content {
    width: 40%;
}

.banner .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.banner h1::selection,
.banner h3::selection,
.banner p::selection {
    color: inherit;
}

.banner h3 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-style: italic;
    color: var(--dark-main-color);
    text-align: left;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-shadow: 0 0 3px var(--lemon-color);
    width: fit-content;
}

.banner h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color-3);
    font-size: 3em;
    font-weight: 700;
    text-transform: capitalize;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    width: fit-content;
}

.banner p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    text-align: left;
    width: 50%;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    width: fit-content;
}

.banner .img-wrapper {
    position: relative;
    width: 200px;
    height: 300px;
    width: 22rem;
    height: 28rem;

    box-shadow: 0 1px 3px 2px var(--lemon-color);
}

.banner .img-wrapper::before {
    content: '';
    width: 20%;
    height: 3px;
    position: absolute;
    top: -8%;
    right: -8%;

    background-color: var(--main-color);
    border-top-left-radius: var(--big-radius);
    border-bottom-left-radius: var(--big-radius);
    box-shadow: 0 0 3px 1px var(--lemon-color);
    opacity: 0.7;
}

.banner .img-wrapper::after {
    content: '';
    width: 3px;
    height: 20%;
    position: absolute;
    top: -8%;
    right: -8%;

    background-color: var(--main-color);
    border-bottom-left-radius: var(--big-radius);
    border-bottom-right-radius: var(--big-radius);
    box-shadow: 0 0 3px 1px var(--lemon-color);
    opacity: 0.7;
}

.banner .img-wrapper img {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    filter: opacity(0.9);
    object-fit: cover;
}

.scroll-down {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    font-size: 2em;
    color: var(--dark-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: -5px;
    -webkit-tap-highlight-color: transparent;

    animation: moving 0.4s infinite alternate;
    -moz-animation: moving 0.4s infinite alternate;
    -webkit-animation: moving 0.4s infinite alternate;
    -o-animation: moving 0.4s infinite alternate;
    -ms-animation: moving 0.4s infinite alternate;


}

.scroll-down a::selection {
    color: inherit;
}

.scroll-down .down:nth-child(1) {
    color: #000;
}

.scroll-down .down:nth-child(2) {
    animation: moving 0.5s infinite alternate;
    -moz-animation: moving 0.5s infinite alternate;
    -webkit-animation: moving 0.5s infinite alternate;
    -o-animation: moving 0.5s infinite alternate;
    -ms-animation: moving 0.5s infinite alternate;

}

/*
    - End style the main view "banner"
*/




/*
    - Styles for the sections
*/
/* Start Our-branches */
.branches {
    margin-bottom: var(--section-margin);
    background-color: var(--dark-main-color);
}

.branches>img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: blur(1px) hue-rotate(287deg);
}

.branches .container .map {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 1rem;
}

.branches .container .map .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, var(--off-white), var(--secondary-color));
    border-radius: 20px;
    height: 70vh;
    padding: 10px;
    -webkit-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    -moz-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.branches .container .map .box .location  {
    width: 80%;
    height: 200px;
    overflow: hidden;
    border-radius: var(--small-radius);
    /* border: 4px solid var(--dark-main-color); */
    outline: 3px solid var(--lemon-color);
    /* outline-offset: 4px; */
    transition-property: outline-offset, outline-color;
    transition-duration: 0.25s ;
}
.branches .container .map .box .location .map iframe {
    width: 100%;
    height: 100%;
}
.map
.branches .container .map .box .location iframe:hover,
.branches .container .map .box .location iframe:focus {
    outline-offset: 4px;
}



/* End Our-branches */


/* 
    - Start menus section
*/
section#menu {
    overflow: hidden;
    background-image: linear-gradient(to top, var(--secondary-color), var(--off-white));
}

section#menu .categories {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}
section#menu .categories button {
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-size: 1.2rem;
    border-radius: var(--small-radius);
    padding: 5px;
    font-weight: 800;
}
section#menu .categories button.active {
    background-color: var(--main-color);
    color: white;
}
section#menu .categories button:hover {
    background-color: var(--main-color);
    color: white;
    opacity: 0.7;
}
section#menu .box {
    display: grid;
    width: 100%;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    animation: visible 0.4s linear 0s 1 forwards;

}
section#menu .box a.item {
    color: white;
    display: block;
    background-color: var(--dark-main-color);
    width: 100%;
    padding: 20px;
    border-radius: var(--big-radius);
    box-shadow: 1px 2px 5px #00000038;
    height: 700px;
}
section#menu .box .item .img {
    width: 100%;
    height: 300px;
    border-radius: var(--small-radius);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#menu .box .item:hover .img img {
    width: 100%;
    filter: saturate(1.4);
}
section#menu .box .item img {
    width: 120%;
    filter: saturate(1);
    transition: var(--transition-time);
}
section#menu .box .item h1.title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 10px 0;
    margin: 10px 0;
    background-color: var(--main-color);
    border-radius: var(--small-radius);
    text-shadow:  1px 2px 5px #00000038;
}
section#menu .box .item p {
    width: 100%;
    font-size: 0.9rem;
    padding: 10px;
    height: 300px;
    overflow: auto;
}
section#menu .box .item p::-webkit-scrollbar {
    width: 2px;
}
section#menu .container {
    display: flex;
}
/* 
    - End menus section
*/
/*
    - End styles for the sections
*/































/* 
    - Styles for the footer 
*/
.footer {
    width: 100%;
    height: 300px;
    height: 45vh;
    background: rgb(2,129,116);
    background: linear-gradient(120deg, rgba(2,129,116,1) 63%, rgba(10,182,139,1) 100%);
    color: #fff;
    border-top-right-radius: var(--big-radius);
    border-top-left-radius: var(--big-radius);
    background-color: var(--main-color);

    outline: 4px solid var(--dark-main-color);
    outline-offset: 5px;
    
    border: none;
    box-shadow: 0 10px 10px 8px var(--dark-color-3);
    margin-top: 50vh;
}
.footer .items-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    padding: 2.5rem 2rem; 
    text-align: left;
    gap: 2rem 0;
    margin-top: 10%;
}
.footer .items-box p {
    font-family: 'Poppins', sans-serif; 
    font-size: 1.2556rem;
    font-weight: 500;
}
.footer .items-box ul li {
    font-family: 'Poppins', sans-serif; 
    font-size: 0.85556rem;
    font-weight: 400;
    position: relative;
    width: fit-content;
    margin-top: 8px;
    cursor: pointer;
}
.footer .items-box ul li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--off-white);
    left: 10%;
    bottom: 0;
    transition: var(--transition-time);
}
.footer .items-box ul li:hover::after,
.footer .items-box ul li:focus::after {
    width: 100%;
    left: 0;
}




/* 
    - End styles for the footer 
*/




/*
    - Put all the required code for responsive design here
*/
/* Small  */
@media (max-width: 992px) {
    .container {
        width: 750px;
    }

    .burger-icon {
        display: flex;
    }

    header .links {
        display: none;
    }

    .links-menu {
        width: 50%;
    }

}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .burger-icon {
        display: flex;
    }

    header .links {
        display: none;
    }

    header {
        width: 100%;
    }

    header .container {
        border-radius: 0;
    }

    .links-menu {
        width: 60%;
    }
}

@media (max-width: 420px) {
    .container {
        width: 100%;
    }

    .burger-icon {
        display: flex;
        transform: scale(0.7);
    }

    header .links {
        display: none;
    }

    header {
        width: 100%;
    }

    header .container {
        border-radius: 0;
    }

    header .logo {
        font-size: 0.5rem;
    }

    .links-menu {
        width: 100%;
    }

    .banner {
        left: 5%;
    }

    .banner .content {
        width: 100% !important;
    }

    .banner .content p,
    .banner .content h1,
    .banner .content h3 {
        width: 100% !important;
        font-size: 0.8rem;
        padding: 10px 0;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    .burger-icon {
        display: none;
    }

    header .links {
        display: flex;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .burger-icon {
        display: none;
    }

    header .links {
        display: flex;
    }
}


@media (max-width: 835px) {
    .banner .img-wrapper {
        filter: blur(3px) grayscale(0.3);
        width: 100%;
    }

    .banner .content {
        width: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: rgba(255, 255, 255, 0.671);
        padding: 10px;
        border: 3px solid white;
        border-radius: var(--small-radius);
        z-index: 1;
    }

    .banner .content p {
        /* background-color: rgba(255, 255, 255, 0.671);
        padding: 10px;
        border: 3px solid white;
        border-radius: var(--small-radius); */
    }

    .banner .content p,
    .banner .content h1,
    .banner .content h3 {
        text-align: center;
        width: fit-content;
    }
}

@media (max-width: 420px) {
    .banner h1 {
        letter-spacing: 0.5px;
        font-size: 1.65555rem !important;
    }
}

/*
    - End of responsive
*/


/* 
    - Animations
*/
@keyframes menu {
    0% {
        left: -300px;
        transform: rotate(-5deg);
    }

    10% {
        left: 100px;
    }

    30% {
        left: 0;
    }

    40% {
        left: 20px;
    }

    50% {
        left: 0px;
    }

    60% {
        left: 10px;
    }

    70% {
        left: 0px;
    }

    80% {
        left: 5px
    }

    100% {
        left: 0
    }
}

@keyframes rev-menu {
    0% {
        left: 0;
    }

    10% {
        left: -700px;
        transform: rotate(10deg);
    }
}

@keyframes moving {
    from {
        opacity: 0.35;
        transform: translateY(-10%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes visible {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
/*
    - End of styling
*/